<form id="form-usuario" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>EMAIL</label>
        <input type="email" name="EMAIL" id="EMAIL" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="SENHA" id="SENHA" class="form-control">
    </div>
    <div class="form-group">
        <label>Tipo de acesso</label>
        <select name="TIPOUSUARIO_ID" id="TIPOUSUARIO_ID" class="form-control">
            <option value="">Selecione o tipo de acesso</option>
        </select>
    </div>
    <input type="hidden" name="ID" id="ID">
</form>