<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="meeting-single-item">
                            <div class="thumb">
                                <a href="#"><img src="libs/assets/images/single-meeting.jpg" alt=""></a>
                            </div>
                            <div class="down-content">

                                <h4>Nome do restaurante</h4>

                                <p>Endereço</p>
                                <p class="description">
                                    Descrição - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eius quae! Magnam error ex dolorum quis consequatur suscipit illo quidem labore fugiat similique! Quo ratione aliquam sed id minus dolore.
                                </p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="hours">
                                            <h5>Horario de funcionamento</h5>
                                            <p>Monday - Friday: 07:00 AM - 13:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>Localização</h5>
                                            <p>Recreio dos Bandeirantes,
                                                <br>Rio de Janeiro - RJ, 22795-008, Brazil</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="book now">
                                            <h5>Telefone</h5>
                                            <p>14 99744-5666<br>3523-4604</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="share">
                                            <h5>Redes sociais:</h5>
                                            <ul>
                                                <li><a href="#">Facebook</a>,</li>
                                                <li><a href="#">Twitter</a>,</li>
                                                <li><a href="#">Linkedin</a>,</li>
                                                <li><a href="#">Behance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="../../gastronomia.html">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 Rennan Guilherme Co., Ltd. All Rights Reserved.
            <br>Design: <a href="https://github.com/Rennan004/" target="_parent" title="website templates">Github</a></p>
    </div>
</section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="libs/vendor/jquery/jquery.min.js"></script>
<script src="libs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="libs/assets/js/isotope.min.js"></script>
<script src="libs/assets/js/owl-carousel.js"></script>
<script src="libs/assets/js/lightbox.js"></script>
<script src="libs/assets/js/tabs.js"></script>
<script src="libs/assets/js/video.js"></script>
<script src="libs/assets/js/slick-slider.js"></script>
<script src="libs/assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function() {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').
                siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function(e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function() {
        checkSection();
    });
</script>