<form id="form-tipo" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME_LOCAL" id="NOME_LOCAL" class="form-control">
        <label>Nome</label>
        <input type="text" name="LOCALIZACAO" id="NOME_LOCAL" class="form-control">
        <label>Nome</label>
        <input type="text" name="TELEFONE_LOCAL" id="NOME_LOCAL" class="form-control">
        <label>Nome</label>
        <input type="text" name="CEP_LOCAL" id="NOME_LOCAL" class="form-control">
        <label>Nome</label>
        <input type="text" name="BAIRRO_LOCAL" id="NOME_LOCAL" class="form-control">
        <label>Nome</label>
        <input type="text" name="RUA_LOCAL" id="NOME_LOCAL" class="form-control">
    </div>
    <input type="hidden" name="ID" id="ID">
</form>