<form id="form-restaurante" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-4 col-md-4">
            <label>CEP</label>
            <input type="number" name="CEP" id="CEP" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Logradouro</label>
            <input type="text" name="LOGRADOURO" id="LOGRADOURO" class="form-control">
        </div>
        <div class="col-12 col-sm-2 col-md-2">
            <label>Número</label>
            <input type="number" name="NUMERO" id="NUMERO" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-5 col-md-5">
            <label>Bairro</label>
            <input type="text" name="BAIRRO" id="BAIRRO" class="form-control">
        </div>
        <div class="col-12 col-sm-5 col-md-5">
            <label>Cidade</label>
            <input type="text" name="CIDADE" id="CIDADE" class="form-control">
        </div>
        <div class="col-12 col-sm-2 col-md-2">
            <label>UF</label>
            <input type="text" name="UF" id="UF" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Telefone 1</label>
            <input type="text" name="TELEFONE1" id="TELEFONE1" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Telefone 2</label>
            <input type="text" name="TELEFONE2" id="TELEFONE2   " class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-12">
            <label>Descrição</label>
            <textarea class="form-control" name="DESCRICAO" id="DESCRICAO" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Horario</label>
            <input type="time" name="HORARIO" id="HORARIO" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Facebook</label>
            <input type="text" name="FACEBOOK" id="FACEBOOK" class="form-control">
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-12 col-sm-6 col-md-6">
            <label>Instagram</label>
            <input type="text" name="INSTAGRAM" id="INSTAGRAM" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label>Ifood</label>
            <input type="text" name="IFOOD" id="IFOOD" class="form-control">
        </div>
        <div class="col-12 col-sm-6 col-md-6 text-center">
            <label>Foto</label>
            <div class="input-file-upload">
                <div class="upload-btn">
                    <input type="file" name="FOTO[]" id="FOTO" onchange="readURL(this); " class="form-control ">
                    <img class="upload_img" id="file_upload">
                </div>
            </div>
        </div>
     
        <input type="hidden" name="ID" id="ID">
</form>

<style>
    .botao-file {
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 3rem;
        background: #dc3545;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    
    .upload-btn input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    .upload_img {
        display: inline-block;
        border: 3px solid rgb(0, 0, 0);
        width: 400px;
        height: 240px;
        border-radius: 10px;
        object-fit: cover;
        object-position: 50% 50%;
        vertical-align: middle;
        margin-top: 20px;
    }
</style>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#file_upload')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>